table{
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
caption{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
th,td{
    border: 1px solid #333;
    text-align: center;
}
th{
    background-color: #0077cc;
    color: white;
    width: 20%;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #d1ecf1;
}
.video{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: auto;
    margin-left: auto;
    border: 1px solid black;
}
.video p{
    max-width: 400px;
    font-family: cursive;
    font-weight: 100px;
}
.spe img{
    width: 800px;
    height: 300px;
    border-radius: 8px;
}
.spe{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: auto;
}
ul{
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.titre{
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
    background: #f1c40f;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
}