hr{
    border: none;
    height: 2px;
    background: #333;
    margin: 20px 0;
}
table{
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
caption{
    font-size: 20px;
    font-weight: bold;
}
th,td{
    border: 1px solid #333;
    text-align: center;
}
th{
    background-color: #0077cc;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #d1ecf1;
}